.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}
.list {
     width: 100%;
}
.loader {
    margin: 50px 0;
    color: #c3c3c3;
    font-size: 18px;
}