.block {
    padding: 20px;
}
.slider {
    width: 100%;
}
.info {
    font-size: 18px;
    line-height: 1.5;
    color: #a3a3a3;
}
.button {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #cccccc;
    cursor: pointer;
}
.button2 {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #5781cc;
    cursor: pointer;
    color: #ffffff;
}
.button2:global(.active) {
    background: #c669cc;
}
.nav {
    display: flex;
}