.card {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #f1f1f1;
    margin-right: 20px;
}
.card:nth-child(4n) {
    margin-right: 0;
}
.img {
    text-align: center;
    padding: 10px;
}
.date {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
.title {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #a3a3a3;
    padding: 10px;
}
.comments {
    padding: 10px;
    text-align: center;
    background: orangered;
    color: #ffffff;
    width: 100%;
    margin-top: auto;
}
.link {
    color: cadetblue;
    text-decoration: none;
    padding: 10px;
    background: white;
    width: 100%;
    text-align: center;
}